# ==========================================
# PORTAINER ENVIRONMENT CONFIGURATION
# ==========================================

# Timezone
TZ=Asia/Jakarta

# Project Information
PROJECT_NAME=docker-portainer-management

# Server Information
SERVER_IP=192.168.1.20

# Portainer
PORTAINER_PORT=9000

# Docker Compose
COMPOSE_PROJECT_NAME=portainer
